@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,100&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,900;1,100&display=swap');
/* 

    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;

*/
:root{
    --primaryColor: #eeee;
    --secondaryColor: #202020;
    --accentColor:#4070F4; 
    --hoverEffectDark: rgba(0, 0, 0, .25);
    --hoverEffectLight: rgba(255, 255, 255, .25);  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    background-color: var(--primaryColor);
    transition: .50s linear;
    scroll-behavior: smooth;
}

/* Header */
p, ul, li, a, h1, h2, h3 ,h4, h5{
    color: var(--secondaryColor);
}
.header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--secondaryColor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--primaryColor);
    transition: all .50s linear;
}
.main-nav{
    width: 100%;
    height: 100%;
    line-height: 60px;
    position: relative;
    top: 0;
    left: 0;
}
.logo{
  display: flex;
  justify-content: center;
  color: var(--accentColor);
}
.logo span{
    font-size: 1rem;
    color: var(--secondaryColor);
}
.nav-list{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 0 0 1.5rem;
    list-style: none;
    transition: .50s linear;
    background-color: var(--primaryColor);
}
.nav-link{
    transition: .25s linear;
    margin-left: -1.5rem;
    padding-left: 1.5rem;
}
.nav-link a{
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: 600;
    position: relative;
    top: 0;
    left: 0;
}
.nav-link a:hover{
    color: var(--secondaryColor);
}
.nav-link:hover{
    background: linear-gradient(to right, rgba(0, 0, 0, .10), rgba(0, 0, 0, .25));
    padding-left: 1rem;
    font-size: 1.1rem;
}
#dark-mode{
    position: absolute;
    top: 25%;
    right: 5%;
    width: 40px;
    height: 30px;
    border: 1px solid var(--secondaryColor);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    overflow: hidden;
}
.bg-dark{
    position: relative;
    left: 16%;
    top: 0;
    transition: .50s linear;
    color: rgb(97, 97, 97);
}
.bg-light{
    position: relative;
    left: 120%;
    top: 0;
    transition: .50s linear;
    color: gold;
}
.nav-toggle{
    position: absolute;
    top: 35%;
    left: 5%;
}
.dark-theme{
    --primaryColor: #202020;
    --secondaryColor: #eeee;
    --accentColor:#4070F4; ; 
    --hoverEffectDark: rgba(255, 255, 255, .25);
    --hoverEffectLight: 
    rgba(0, 0, 0, .25);  
}
.menu{
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--secondaryColor);
}

/* HERO SECTION */

#hero-section{
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile{
    width: 200px;
    height: 250px;
    filter: drop-shadow(0px 0px 5px #303030);
}
.profile-img{
    background-color: #4070F4;
    border-radius: 50% 50% 50% 50% / 36% 35% 65% 64%;
    margin-top: 1rem;
    border: 1px solid #94e6ff89;
    box-shadow: 0 0 5px 0 var(--secondaryColor);
    overflow: hidden;
}

.hero-h{
    text-align: center;
    margin: 1.5rem 0 0 0;
    color: var(--secondaryColor);
    font-weight: 600;
}
/* .hero-p{
    text-align: center;
    margin: 0 0 10px 0;
    color: var(--secondaryColor);
} */
.call-to-action{
    color: #eeee;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #4070f4;
    margin-top: 1rem;
}
.call-to-action:hover{
   
   color: #eeee;
}
/* ABOUT SECTION */
#about-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem 1rem 1rem;
}

.aboutme-img img{
   width: 250px;
   height: 250px;
   
}

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-title h1{
    font-size: 3rem;
    font-weight: 500;
    margin: 10px 0;
}
.about-me p{
    text-align: center;
    font-weight: 500;
    margin: 16px 0;
    line-height: 1.7rem;
}
.abm-skills{
    margin-top: 4rem;
}
.abm-skills h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin: 10px 0;
}
.abm-skills img{
    width: 250px;
}
.skills{
    width: 300px;
    background-color: var(--primaryColor);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 16px;
}
.skill-card-header{
    align-self: flex-start;
    margin-bottom: 1rem;
}
.skill-card-header h2{
    opacity: .75;
    font-weight: 500;
}
.skill-card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.skills span{
    align-self: flex-start;
    padding: 1rem 0 0 0;
    opacity: .50;
}
.skills img{
    transition: .50s ease-in-out;
}
.skill-card-body img:nth-child(1){
    width: 80px;
    height: 80px;
}
.skill-card-body img:nth-child(2){
    width: 70px;
    height: 70px;
}
.skill-card-body img:nth-child(3){
    width: 70px;
    height: 70px;
}
.new-skills{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.new-skills img:nth-child(1){
    width: 70px;
    height: 70px;
}
.new-skills img:nth-child(2){
    width: 50px;
    height: 50px;
}
.skills img:hover{
    transform: scale(1.5);
}
.others img:nth-child(1){
    width: 50px;
    height: 50px;
}
.others img:nth-child(2){
    width: 70px;
    height: 50px;
}
.others img:nth-child(3){
    width: 70px;
    height: 60px;
}
/* Projects */

#project-section{
    width: 100%;
    height: min-content; 
    padding: 0 0 2rem 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
}
.projects{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.card{
    width: 300px;
    background-color: var(--primaryColor);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 16px 0;
}
.card-header img{
    width: 300px;
    height: 200px;
    padding: 12px 16px;
    filter: blur(1px);
    transition: .35s ease-in-out;
}
.card-header img:hover{
    filter: blur(0px);
    transform: scale(1.05, 1.05);
}
.card-body{
    text-align: center;
    padding: 0 1rem;
}
.card-body h1{
    font-size: 1.2rem;
    font-weight: 500;
}
.card-body p{
    font-size: 14px;
    opacity: .5;
    font-weight: 600;
}
.card-footer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 16px 0 0 16px;
}
.card-footer button{
    border: 2px solid var(--accentColor);
    padding: 8px;
    border-radius: 16px;
    color: #202020;
    font-weight: 600;
    transition: .25s linear;
    background-color: #4070F4;
}
.card-footer button:hover{
    background-color: var(--hoverEffectLight);
    color: var(--accentColor);
   
}
.footer{
    width: 100vw;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid #4070F4;
    padding-top: 1rem;
}
.footer-about h1{
   padding: 0;
   margin: 0;
   font-size: 1.5rem;
   font-weight: 600;
}
.footer-about h1 span{
   color: #4070F4;
}
.footer-h1-p{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
}
.footer-about ul{
    text-align: justify;
}
.footer-socials ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
    padding: 12px;
}
.footer-socials a{
   color: var(--accentColor);
}
.footer-socials a:hover{
   color: var(--secondaryColor);
}
/* MOBILE LANDSCAPE */
@media screen and (min-width:576px) {
    #dark-mode{
       right: 0;
    }
    .main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .nav-list{
        display: flex;
        left: 0% !important;
        margin-right: 5rem;
    }
    .nav-link{
        margin-left: 1.5rem;
        font-size: 1.1rem;
        padding-left: 0;    
      
    }
    .nav-link:hover{
        padding-left: 0;
          background: none;
    
    }
    .nav-link a::before{
       content: ''; 
       position: absolute;
       background-color: var(--secondaryColor);
       top: 100%;
       width: 0;
       height: 3px;   
       border-radius: 16px;
       transition: .50s linear;
    }
    .nav-link a:hover::before{
       width: 100%;
       
    }
    .menu{
        display: none;
    }

    #hero-section{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        place-items: center;
    }
    .profile-img{
        grid-column: 7 / span 4;
        grid-row: 3 / span 3;
    }

    .hero-h{

        grid-column: 3 / span 3;
        grid-row: 3;
    }
    .call-to-action{

        grid-column: 3 / span 3;
        grid-row: 4 / span 2;
    }

    .abm-skills-card{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    /* PROJECTS */

    .projects{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        padding: 0 1rem;
    }
    
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}